<div class="col-12 mt-4 mb-4" style="text-align: left;font-weight: bold;width: 100%;display: flex;justify-content: center;color: #c70201;font-family: codigeekfont;">
  <i (click)="regresar()" class="lnr-chevron-left mr-3" style="font-weight: bold;font-size: 20px;position: absolute;left: 15px;"></i>
  Detalle de pedido
</div>
<div class="row m-0">
  <div class="col-12 col-sm-6 offset-sm-3 pl-3 pr-3 mt-2" style="font-family:codigeekfont;">
    <ul class="list-group list-group-flush mb-3 pb-2" style="border-bottom: 2px solid #dedede;">
      <li class="list-group-item" style="padding: 5px;border: none;">
        <div class="row m-0 p-0">
          <div class="col-3 pl-0">
              <img *ngIf="mainObj$.negocio.foto" width="60" class="rounded-circle" src="{{ mainObj$.negocio.foto }}" style="border-radius: 5% !important;box-shadow: 0px 0px 5px 0px #b8b8b8;width: 100%;">
              <img *ngIf="!mainObj$.negocio.foto" width="60" class="rounded-circle" src="{{ mainObj$.categoria.foto }}" style="width: 100%;">
          </div>
          <div class="col-9 pl-0 pr-2" style="align-items: center;">
            <div class="widget-heading" style="font-size: 16px;color: #20284c;margin-bottom: 2px;font-weight: 600;line-height: 1;">
              {{ mainObj$.negocio.nombre }}
            </div>
            <div class="widget-heading" style="font-size: 12px;color: #929292;margin-top: 5px;margin-bottom: 2px;font-weight: normal;line-height: 1;opacity: 1;">
              Orden: {{ mainObj$._id | limitTo : 8 }}
            </div>
            <div *ngIf="mainObj$.fecha_pedido" class="widget-heading" style="font-size: 10px;color: #929292;margin-top: 5px;margin-bottom: 2px;font-weight: normal;line-height: 1;opacity: 1;">
              Fecha de entrega: {{ mainObj$.fecha_pedido | date:'dd/MM/yyyy' }}
            </div>
            <div *ngIf="mainObj$.hora_pedido" class="widget-heading" style="font-size: 10px;color: #929292;margin-top: 5px;margin-bottom: 2px;font-weight: normal;line-height: 1;opacity: 1;">
              Entrega de pedido: {{ mainObj$.hora_pedido }}
            </div>
          </div>
        </div>
      </li>
    </ul>

  <!-- <div style="width: 100%;position:relative;">
    <agm-map
      style="height: 300px;width: 100%;"
      [latitude]="mainObj$.origen_latitude"
      [longitude]="mainObj$.origen_longitude"
      [zoom]="zoom"
      [disableDefaultUI]="true"
      [zoomControl]="false"
      [gestureHandling]="'greedy'"
      [streetViewControl]="false"
      [styles]="mapStyles"
      [fitBounds]="true"
      >
      <agm-marker *ngFor="let point of mapPoints;" [agmFitBounds]="true" [latitude]="point.latitude" [longitude]="point.longitude" [iconUrl]="point.icon" (markerClick)="abrirUbicacion(point)">
      </agm-marker>
    </agm-map>
    <div (click)="abrirUbicacion()" style="position: absolute;right: 10px;bottom: 10px;z-index: 8162581925612985268512596;float: right;padding: 2px 10px;background: linear-gradient(45deg, #c70201, #c70201);color: white;border-radius: 3px;box-shadow: 0px 1px 5px 0px #969696;">
      ¿Cómo llegar?
    </div>
  </div> -->
    <div class="mb-3" style="border-bottom: 2px solid #dedede;">
      <label class="mb-2" style="font-size: 14px;color: #c70201;margin-bottom: 2px;font-weight: 600; width:100%;">
        Detalle
      </label>
      <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column" style="padding: 10px 0px;">
        <div class="vertical-timeline-item vertical-timeline-element">
          <div>
              <span class="vertical-timeline-element-icon bounce-in">
                <i *ngIf="!mainObj$.fecha_alta" class="badge badge-dot badge-dot-xl badge-warning"> </i>
                <img *ngIf="mainObj$.fecha_alta" src="https://codigeek.com/projects/robertodelivery/check_icon.png" style="margin-left: -6px;border-radius: 40px;border: 5px solid white;">
              </span>
            <div class="vertical-timeline-element-content bounce-in">
              <h4 class="timeline-title" style="font-weight: bold;color: #20284c;margin: 0px;">
                Pedido realizado
              </h4>
              <h5 class="timeline-title" style="color: #969696;font-weight: normal;font-size: 10px;">
                {{ mainObj$.fecha_alta | date:'dd/MM/yyyy' }} {{ mainObj$.fecha_alta | date:'hh:mm' }}
              </h5>
              <!-- <span class="vertical-timeline-element-date">{{ registro_t.fecha | date : 'hh:mm aa' }}</span> -->
            </div>
          </div>
        </div>
        <div class="vertical-timeline-item vertical-timeline-element">
          <div>
              <span class="vertical-timeline-element-icon bounce-in">
                <i *ngIf="!mainObj$.fecha_platillos_listos" class="badge badge-dot badge-dot-xl badge-warning"> </i>
                <img *ngIf="mainObj$.fecha_platillos_listos" src="https://codigeek.com/projects/robertodelivery/check_icon.png" style="margin-left: -6px;border-radius: 40px;border: 5px solid white;">
              </span>
            <div class="vertical-timeline-element-content bounce-in">
              <h4 class="timeline-title" style="font-weight: bold;color: #20284c;margin: 0px;">
                Pedido confirmado
              </h4>
              <h5 class="timeline-title" style="color: #969696;font-weight: normal;font-size: 10px;">
                {{ mainObj$.fecha_platillos_listos | date:'dd/MM/yyyy' }} {{ mainObj$.fecha_platillos_listos | date:'hh:mm' }}
              </h5>
              <!-- <span class="vertical-timeline-element-date">{{ registro_t.fecha | date : 'hh:mm aa' }}</span> -->
            </div>
          </div>
        </div>
        <div class="vertical-timeline-item vertical-timeline-element" *ngIf="mainObj$.tipo_servicio === 2">
          <div>
              <span class="vertical-timeline-element-icon bounce-in">
                <i *ngIf="!mainObj$.fecha_asignar_motofast" class="badge badge-dot badge-dot-xl badge-warning"> </i>
                <img *ngIf="mainObj$.fecha_asignar_motofast" src="https://codigeek.com/projects/robertodelivery/check_icon.png" style="margin-left: -6px;border-radius: 40px;border: 5px solid white;">
              </span>
            <div class="vertical-timeline-element-content bounce-in">
              <h4 class="timeline-title" style="font-weight: bold;color: #20284c;margin: 0px;">
                En camino
              </h4>
              <h5 class="timeline-title" style="color: #969696;font-weight: normal;font-size: 10px;">
                {{ mainObj$.fecha_asignar_motofast | date:'dd/MM/yyyy' }} {{ mainObj$.fecha_asignar_motofast | date:'hh:mm' }}
              </h5>
            </div>
          </div>
        </div>
        <div class="vertical-timeline-item vertical-timeline-element" *ngIf="mainObj$.tipo_servicio === 1">
          <div>
              <span class="vertical-timeline-element-icon bounce-in">
                <i *ngIf="!mainObj$.fecha_pedido_listo" class="badge badge-dot badge-dot-xl badge-warning"> </i>
                <img *ngIf="mainObj$.fecha_pedido_listo" src="https://codigeek.com/projects/robertodelivery/check_icon.png" style="margin-left: -6px;border-radius: 40px;border: 5px solid white;">
              </span>
            <div class="vertical-timeline-element-content bounce-in">
              <h4 class="timeline-title" style="font-weight: bold;color: #20284c;margin: 0px;">
                Pedido listo
              </h4>
              <h5 class="timeline-title" style="color: #969696;font-weight: normal;font-size: 10px;">
                {{ mainObj$.fecha_pedido_listo | date:'dd/MM/yyyy' }} {{ mainObj$.fecha_pedido_listo | date:'hh:mm' }}
              </h5>
            </div>
          </div>
        </div>
        <div class="vertical-timeline-item vertical-timeline-element">
          <div>
              <span class="vertical-timeline-element-icon bounce-in">
                <i *ngIf="!mainObj$.fecha_entregue_productos" class="badge badge-dot badge-dot-xl badge-warning"> </i>
                <img *ngIf="mainObj$.fecha_entregue_productos" src="https://codigeek.com/projects/robertodelivery/check_icon.png" style="margin-left: -6px;border-radius: 40px;border: 5px solid white;">
              </span>
            <div class="vertical-timeline-element-content bounce-in">
              <h4 class="timeline-title" style="font-weight: bold;color: #20284c;margin: 0px;">
                Entregado
              </h4>
              <h5 class="timeline-title" style="color: #969696;font-weight: normal;font-size: 10px;">
                {{ mainObj$.fecha_entregue_productos | date:'dd/MM/yyyy' }} {{ mainObj$.fecha_entregue_productos | date:'hh:mm' }}
              </h5>
              <!-- <span class="vertical-timeline-element-date">{{ registro_t.fecha | date : 'hh:mm aa' }}</span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="text-center mt-3 mb-3" *ngIf="(isAdmin || isAdminNeg || isClient) && mainObj$.status === 10">
        <span (click)="actualizarPedido(15)" style="font-weight: bold;text-decoration: underline;color: #666666;">
          Cancelar pedido
        </span>
      </div>

      <div class="text-center mt-3 mb-3" *ngIf="mainObj$.status === 10 && mainObj$.confirmacion_cliente">
        <div style="color: #c70201;line-height: 1.2;margin-bottom: 10px;font-size: 12px;font-weight: bold;">
          Los productos de tu pedido fueron modificados. ¿Confirmas este cambio?
        </div>
        <div (click)="guardarModificacionPlatillosPedido()" style="font-weight: bold;text-decoration: underline;color: #666666;">
          Confirmar pedido
        </div>
      </div>

      <!-- <div class="text-center mt-3 mb-3" *ngIf="(mainObj$.status === 1 && mainObj$.tipo_servicio === 1) && (isAdmin || isAdminNeg || isStation || isRestaurant)">
        <span (click)="actualizarPedido(2)" style="font-weight: bold;text-decoration: underline;color: #666666;">
          Pedido listo
        </span>
      </div>

      <div class="row m-0 mt-3 pb-2" style="border-bottom: 2px solid #dedede;" *ngIf="!mainObj$.motofast && mainObj$.tipo_servicio === 2 && mainObj$.status === 1 && (isAdmin || isAdminNeg)">
        <label style="font-size: 14px;color: #c70201;margin-bottom: 2px;font-weight: 600; width:100%;">
          Repartidor
        </label>
        <button (click)="seleccionarMotofast()" class="btn-shadow btn btn-success" style="width: 60%;margin: auto;margin-top: 15px;margin-bottom: 10px;text-align: center;box-shadow: 0 0.125rem 0.5rem rgba(199, 2, 1, 0.4), 0 0.0625rem 0.1rem rgba(199, 2, 1, 0.5);" type="button">
          Selecciona un repartidor
        </button>
      </div>

      <div class="text-center mt-3 mb-3" *ngIf="(mainObj$.status === 1 && mainObj$.tipo_servicio === 2) && (isAdmin || isAdminNeg || isStation || isRestaurant)">
        <span (click)="actualizarPedido(1)" style="font-weight: bold;text-decoration: underline;color: #666666;">
          Asignar repartidor
        </span>
      </div>

      <div class="text-center mt-3 mb-3" *ngIf="mainObj$.status === 2 && (isAdmin || isAdminNeg || isMotofast)">
        <span (click)="actualizarPedido(3)" style="font-weight: bold;text-decoration: underline;color: #666666;">
          Entregar pedido
        </span>
      </div> -->

    </div>

    <div class="row m-0 mt-3 mb-3 p-0 pb-3" *ngIf="mainObj$.status === 2 && mainObj$.motofast" style="border-bottom: 2px solid #dedede;">
      <div class="col-3 text-center">
        <i class="pe-7s-chat" (click)="llamarTelefono(mainObj$.motofast.telefono,2)" style="background: #c70201; color: white; padding: 8px; border-radius: 20px;"></i>
      </div>
      <div class="col-6 pl-0 pr-0 text-center">
        <img *ngIf="mainObj$.motofast" src="{{ mainObj$.motofast.foto }}" style="width: 50px;">
        <div style="font-size: 14px;color: #c70201;margin-top: 5px;margin-bottom: 2px;font-weight: bold;line-height: 1;opacity: 1;">
          {{ mainObj$.motofast.nombre }}
        </div>
      </div>
      <div class="col-3 text-center">
        <i class="pe-7s-call" (click)="llamarTelefono(mainObj$.motofast.telefono,1)" style="background: #c70201; color: white; padding: 8px; border-radius: 20px;"></i>
      </div>
    </div>

    <div class="row m-0 mb-3 pb-2" style="border-bottom: 2px solid #dedede;">
      <label style="font-size: 14px;color: #c70201;margin-bottom: 2px;font-weight: 600; width:100%;">
        Tu orden
      </label>
      <div (click)="opcionesPlatillo(platillo_t, i)" class="widget-content" *ngFor="let platillo_t of mainObj$.platillos; index as i" style="padding: 0px 10px 0px 15px !important;width: 100%;font-weight: bold;">
        <i *ngIf="(isAdmin && isAdminNeg)" class="lnr-pencil" style="position: absolute; margin-top: 10px; margin-left: -5px; font-size: 12px;"></i>
        <div class="row m-0 pt-2 pb-2">
          <div class="col-8">
            <div style="font-size: 14px;color: #20284c;line-height: 1;font-weight: bold;">
              <span class="mr-1" style="font-size: 12px;color: #484848;">
                {{ platillo_t.cantidad }}x
              </span>
              {{ platillo_t.nombre }}
            </div>
            <p *ngIf="platillo_t.marca" style="margin: 5px 0px 0px 0px;text-align: left;font-size: 11px;line-height: 1;color: #636363;font-weight: bold;">
              {{ platillo_t.marca | limitTo : 20 }}
            </p>
            <p style="margin: 3px 0px 5px 0px;text-align: left;font-size: 11px;line-height: 1;color: #636363;font-weight: bold;">
              {{ platillo_t.presentacion ? platillo_t.presentacion : "" | limitTo : 20 }} {{ platillo_t.capacidad ? platillo_t.capacidad : "" | limitTo : 20 }} {{ platillo_t.unidad ? platillo_t.unidad : "" | limitTo : 20 }}
            </p>
            <div *ngFor="let ingrediente_t of platillo_t.ingredientes; index as i" style="font-size: 11px;color: #858585;line-height: 1;font-weight: normal;padding: 4px 0px 0px 0px;">
              {{ingrediente_t.nombre}}
            </div>
          </div>
          <div class="col-4 text-right" style="font-size: 14px;">
            <span class="text-success" style="font-weight: bold;font-size: 14px;">
              S/ {{ platillo_t.costo * platillo_t.cantidad | number }}
            </span>
          </div>
        </div>
      </div>
      <div class="widget-content p-0" *ngIf="mainObj$.tipo_servicio === 2 && mainObj$.negocio.costo_delivery" style="width: 100%;">
        <div class="widget-content-wrapper text-success" style="padding: 0px 25px 0px 30px !important;font-weight: bold;">
          <div class="widget-content-left flex2">
            <div class="widget-heading" style="font-size: 12px;line-height: 1;">
              Costo envío
            </div>
          </div>
          <div class="widget-content-right" style="padding: 0px;">
            <span style="font-size: 12px;">
              S/ {{ mainObj$.costo_envio | number }}
            </span>
          </div>
        </div>
      </div>
      <div class="widget-content p-0 pt-1 pb-2" style="width:100%;" *ngIf="mainObj$.descuento_aplicado">
        <div class="widget-content-wrapper text-success" style="padding: 0px 25px 0px 30px !important;font-weight: normal;">
          <div class="widget-content-left flex2">
            <div class="widget-heading" style="font-size: 14px;line-height: 1;font-weight: normal">
              Descuento (créditos)
            </div>
          </div>
          <div class="widget-content-right" style="padding: 0px;font-size: 14px;font-weight: normal">
            <span style="font-size: 14px;">
              S/ {{ mainObj$.descuento_aplicado | number }}
            </span>
          </div>
        </div>
      </div>
      <div class="widget-content p-0 pt-1 pb-2" style="width:100%;">
        <div class="widget-content-wrapper text-success" style="padding: 0px 25px 0px 30px !important;font-weight: bold;">
          <div class="widget-content-left flex2">
            <div class="widget-heading" style="font-size: 15px;line-height: 1;">
              Total
            </div>
          </div>
          <div class="widget-content-right" style="padding: 0px;font-size: 14px;">
            <span style="font-size: 15px;">
              S/ {{ mainObj$.total | number }}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0 mb-3 pb-2" style="">
      <label style="font-size: 14px;color: #c70201;margin-bottom: 2px;font-weight: 600; width:100%;">
        Medio de pago
      </label>
      <button (click)="verFormaDePago()" class="btn-shadow btn btn-success" style="width: 60%;margin: auto;margin-top: 15px;margin-bottom: 10px;text-align: center;box-shadow: 0 0.125rem 0.5rem rgba(199, 2, 1, 0.4), 0 0.0625rem 0.1rem rgba(199, 2, 1, 0.5);" type="button">
        <i class="lnr-magnifier mr-2"></i>{{ mainObj$.forma_pago.descripcion }}
      </button>
    </div>
  </div>
</div>

<ng-template #mConfirmarEliminarPlatillo let-c="close" let-d="dismiss">
  <div class="modal-header" style="background: none;padding: 10px 15px;">
    <h6 class="modal-title" style="color: black; font-weight: 500;font-family: codigeekfont;">
      Confirmación
    </h6>
  </div>
  <div class="modal-body" style="font-family: codigeekfont;">
    <div class="col-12 mb-3 p-0">
      <h5 style="font-size: 16px; text-align: center;">
        ¿Deseas remover este producto?
      </h5>
    </div>
  </div>
  <button (click)="confimarEliminarPlatillo()" class="btn-shadow btn btn-success" style="font-family: codigeekfont;width: 60%;margin: auto;margin-bottom: 20px;text-align: center;" type="button">
    Continuar
  </button>
</ng-template>

<ng-template #mModificarInfo let-c="close" let-d="dismiss">
  <div class="modal-header" style="background: none;padding: 10px 15px;">
    <h6 class="modal-title" style="color: black; font-weight: 500;font-family: codigeekfont;">
      Modificar pedido
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')" style="padding: 10px 15px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="font-family: codigeekfont;">
    <div class="col-12 mb-3 p-0">
      <label class="" style="position: relative;font-size: 13px;color: black;font-weight: normal;">
        Fecha del pedido
      </label>
      <div class="input-group" style="width:100%">
        <input
          class="form-control"
          name="fecha_pedido"
          [(ngModel)]="mainObj$.fecha_pedido"
          ngbDatepicker
          #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-dark calendar" (click)="d.toggle()" type="button">
            <i class="fa text-white fa-calendar pr-1 pl-1"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3 p-0">
      <label class="" style="position: relative;font-size: 13px;color: black;font-weight: normal;">
        Hora del pedido
      </label>
      <div class="cg-input" style="margin-bottom: 25px;">
        <ngb-timepicker name="hora_pedido" [(ngModel)]="mainObj$.hora_pedido" [minuteStep]="15"></ngb-timepicker>
      </div>
    </div>
    <div class="col-12 mb-3 p-0" *ngIf="isAdmin || isAdminNeg">
      <label class="" style="position: relative;font-size: 13px;color: black;font-weight: normal;">
        Total del pedido:
      </label>
      <input [(ngModel)]="mainObj$.total" name="total" type="text" class="cg-input-adicional" placeholder="" required style="background: #f0f0f0; border-radius: 3px; border: none !important; padding: 10px; color: #909090;">
    </div>
    <div class="col-12 mb-3 p-0">
      <label class="" style="position: relative;font-size: 13px;color: black;font-weight: normal;">
        Comentarios:
      </label>
      <textarea [(ngModel)]="mainObj$.comentarios" name="comentarios" rows="4" style="width:100%;background: transparent;border-radius: 5px;border: none;box-shadow: 0px 0px 5px 0px #d5d5d5;padding: 7px 10px;color: #616161;font-size: 12px;"></textarea>
    </div>
  </div>
  <button (click)="guardarModificacionPedido()" class="btn-shadow btn btn-success" style="font-family: codigeekfont;width: 60%;margin: auto;margin-bottom: 20px;text-align: center;" type="button">
    Continuar
  </button>
</ng-template>

<ng-template #listadoUsuarios let-c="close" let-d="dismiss">
  <div class="modal-header" style="background: none;padding: 10px 15px;font-family:codigeekfont;">
    <h6 class="modal-title" style="color: black; font-weight: 500;">Repartidor</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="padding: 10px 15px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 400px; overflow-y: scroll;font-family:codigeekfont;">
    <p style="margin: 8px 0px;cursor:pointer;padding-bottom: 8px;border-bottom: 1px solid #eaeaea;" (click)="c(registro_t)" *ngFor="let registro_t of usuariosArray$; index as i">
      <i class="pe-7s-angle-right"></i>{{ registro_t.nombre }}
    </p>
  </div>
</ng-template>

<ng-template #mFormaDePago let-c="close" let-d="dismiss">
  <div class="modal-body" style="overflow-y: scroll;font-family:codigeekfont; display: block;">
    <div class="col-12 mt-4 mb-2" style="text-align: left; font-weight: bold; width: 100%; display: flex; justify-content: center; color: #c70201; font-family: codigeekfont;">
      <i (click)="d('Cross click')" class="lnr-chevron-left mr-3" style="font-weight: bold;font-size: 20px;position: absolute;left: 15px;"></i>
      {{ mainObj$.forma_pago.descripcion }}
    </div>
    <div class="row mt-5 mb-3" style="padding: 0px 15px;">
      <div class="col-sm-12 p-0 text-center">
        <img src="{{ mainObj$.forma_pago.icon }}" style="width: 100px;border-radius: 20px;">
      </div>
    </div>
    <div *ngIf="mainObj$.forma_pago_id === '5e0a9048ce07baeb91675dbd'" class="text-center row ml-3 mr-3 mt-5" style="width: 100%; color: #8c8c8c;">
        Va a pagar con S/ {{ mainObj$.estimado_pago_cliente }}
    </div>
    <div *ngIf="mainObj$.forma_pago_id === '5e0a904ece07baeb91675dbe'" class="text-center row m-0" style="width: 100%; color: #8c8c8c;">
      <div class="col-sm-12 p-0 text-center">
        {{
          mainObj$.tarjeta === 1 ? "Visa" :
          mainObj$.tarjeta === 2 ? "Mastercard" :
          mainObj$.tarjeta === 3 ? "Dinners" :
          mainObj$.tarjeta === 4 ? "American Express" :
          "Desconocido"
        }}
      </div>
    </div>
    <div class="row ml-3 mr-3 mt-5" style="padding: 0px 15px;" *ngIf="mainObj$.forma_pago_id === '5ecf0c9fa5d979def9d74cef'">
      <div class="col-6 p-0 mb-3">
        <div style="font-size: 14px; font-weight: bold; color: #585858;">
          <i class="lnr-user"></i> Beneficiario:
        </div>
        <div style="color: #20284c; font-size: 12px; font-weight: bold;">
          {{ mainObj$.negocio.pago_beneficiario_lukita }}
        </div>
      </div>
      <div [copy-clipboard]="mainObj$.negocio.pago_beneficiario_lukita" (copied)="notify($event)" class="col-6 p-0 text-center mb-3">
        <span style="font-size: 10px; background: #c70201; padding: 5px 10px; border-radius: 5px; color: white;">
          <i class="lnr-paperclip"></i>
          Copiar nombre
        </span>
      </div>
      <div class="col-6 p-0 ">
        <div style="font-size: 14px; font-weight: bold; color: #585858;">
          <i class="lnr-phone"></i> Teléfono:
        </div>
        <div style="color: #20284c; font-size: 12px; font-weight: bold;">
          {{ mainObj$.negocio.pago_telefono_lukita }}
        </div>
      </div>
      <div [copy-clipboard]="mainObj$.negocio.pago_telefono_lukita" (copied)="notify($event)" class="col-6 p-0 text-center">
        <span style="font-size: 10px; background: #c70201; padding: 5px 10px; border-radius: 5px; color: white;">
          <i class="lnr-paperclip"></i>
          Copiar número
        </span>
      </div>
    </div>
    <div class="row ml-3 mr-3 mt-5" style="padding: 0px 15px;" *ngIf="mainObj$.forma_pago_id === '5ecf0c9fa5d979def9d74cf0'">
      <div class="col-6 p-0 mb-3">
        <div style="font-size: 14px; font-weight: bold; color: #585858;">
          <i class="lnr-user"></i> Beneficiario:
        </div>
        <div style="color: #20284c; font-size: 12px; font-weight: bold;">
          {{ mainObj$.negocio.pago_beneficiario_plin }}
        </div>
      </div>
      <div [copy-clipboard]="mainObj$.negocio.pago_beneficiario_plin" (copied)="notify($event)" class="col-6 p-0 text-center mb-3">
        <span style="font-size: 10px; background: #c70201; padding: 5px 10px; border-radius: 5px; color: white;">
          <i class="lnr-paperclip"></i>
          Copiar nombre
        </span>
      </div>
      <div class="col-6 p-0 ">
        <div style="font-size: 14px; font-weight: bold; color: #585858;">
          <i class="lnr-phone"></i> Teléfono:
        </div>
        <div style="color: #20284c; font-size: 12px; font-weight: bold;">
          {{ mainObj$.negocio.pago_telefono_plin }}
        </div>
      </div>
      <div [copy-clipboard]="mainObj$.negocio.pago_telefono_plin" (copied)="notify($event)" class="col-6 p-0 text-center">
        <span style="font-size: 10px; background: #c70201; padding: 5px 10px; border-radius: 5px; color: white;">
          <i class="lnr-paperclip"></i>
          Copiar número
        </span>
      </div>
    </div>
    <div class="row ml-3 mr-3 mt-5" style="padding: 0px 15px;" *ngIf="mainObj$.forma_pago_id === '5ecf0c9fa5d979def9d74cf1'">
      <div class="col-6 p-0 mb-3">
        <div style="font-size: 14px; font-weight: bold; color: #585858;">
          <i class="lnr-user"></i> Beneficiario:
        </div>
        <div style="color: #20284c; font-size: 12px; font-weight: bold;">
          {{ mainObj$.negocio.pago_beneficiario_yape }}
        </div>
      </div>
      <div [copy-clipboard]="mainObj$.negocio.pago_beneficiario_yape" (copied)="notify($event)" class="col-6 p-0 text-center mb-3">
        <span style="font-size: 10px; background: #c70201; padding: 5px 10px; border-radius: 5px; color: white;">
          <i class="lnr-paperclip"></i>
          Copiar nombre
        </span>
      </div>
      <div class="col-6 p-0 ">
        <div style="font-size: 14px; font-weight: bold; color: #585858;">
          <i class="lnr-phone"></i> Teléfono:
        </div>
        <div style="color: #20284c; font-size: 12px; font-weight: bold;">
          {{ mainObj$.negocio.pago_telefono_yape }}
        </div>
      </div>
      <div [copy-clipboard]="mainObj$.negocio.pago_telefono_yape" (copied)="notify($event)" class="col-6 p-0 text-center">
        <span style="font-size: 10px; background: #c70201; padding: 5px 10px; border-radius: 5px; color: white;">
          <i class="lnr-paperclip"></i>
          Copiar número
        </span>
      </div>
    </div>
    <div class="row ml-3 mr-3 mt-5" style="padding: 0px 15px;" *ngIf="mainObj$.forma_pago_id === '5ecf0ca0a5d979def9d74cf2'">
      <div class="row m-0 mb-2 pb-1 p-0" *ngFor="let registro_t of mainObj$.negocio.transferencias; index as i" style="border-bottom: 2px solid #dedede;">
        <div class="col-6 p-0 mb-2">
          <div style="font-size: 14px; font-weight: bold; color: #585858;">
            <img src="https://codigeek.com/projects/robertodelivery/cuenta_icon.png" style="width: 14px;">
            Cuenta:
          </div>
          <div style="color: #20284c; font-size: 12px; font-weight: bold;">
            {{ registro_t.pago_cuenta_banco }}
          </div>
        </div>
        <div [copy-clipboard]="registro_t.pago_cuenta_banco" (copied)="notify($event)" class="col-6 p-0 text-center mb-2">
          <span style="font-size: 10px; background: #c70201; padding: 5px 10px; border-radius: 5px; color: white;">
            <i class="lnr-paperclip"></i>
            Copiar cuenta
          </span>
        </div>
        <div class="col-6 p-0 mb-2">
          <div style="font-size: 14px; font-weight: bold; color: #585858;">
            <img src="https://codigeek.com/projects/robertodelivery/banco_icon.png" style="width: 14px;">
            Banco:
          </div>
          <div style="color: #20284c; font-size: 12px; font-weight: bold;">
            {{ registro_t.banco }}
          </div>
        </div>
        <div [copy-clipboard]="registro_t.banco" (copied)="notify($event)" class="col-6 p-0 text-center mb-2">
          <span style="font-size: 10px; background: #c70201; padding: 5px 10px; border-radius: 5px; color: white;">
            <i class="lnr-paperclip"></i>
            Copiar banco
          </span>
        </div>
        <div class="col-6 p-0 mb-2">
          <div style="font-size: 14px; font-weight: bold; color: #585858;">
            <img src="https://codigeek.com/projects/robertodelivery/beneficiario_icon.png" style="width: 14px;">
            Beneficiario:
          </div>
          <div style="color: #20284c; font-size: 12px; font-weight: bold;">
            {{ registro_t.pago_beneficiario }}
          </div>
        </div>
        <div [copy-clipboard]="registro_t.pago_beneficiario" (copied)="notify($event)" class="col-6 p-0 text-center mb-2">
          <span style="font-size: 10px; background: #c70201; padding: 5px 10px; border-radius: 5px; color: white;">
            <i class="lnr-paperclip"></i>
            Copiar nombre
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #mDireccion let-c="close" let-d="dismiss">
  <div class="modal-header" style="background: none;padding: 10px 15px;font-family:codigeekfont;">
    <h6 class="modal-title" style="color: black; font-weight: 500;">Dirección</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="padding: 10px 15px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="overflow-y: scroll;font-family:codigeekfont;">
    <p style="margin: 8px 0px;cursor:pointer;padding-bottom: 8px;border-bottom: 1px solid #eaeaea;" (click)="c(registro_t)" >
      {{ pointSeleccionado.direccion }}
    </p>
    <button (click)="abrirNavegacion()" type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success mb-1" style="display: inline-block; margin-top: 5px;background: linear-gradient(45deg, #c70201, #c70201);">
      Abrir navegación
    </button>
  </div>
</ng-template>
