<div class="col-12 mt-4 mb-4" style="text-align: left;font-weight: bold;width: 100%;display: flex;justify-content: center;color: #c70201;font-family: codigeekfont;">
  <i (click)="regresar()" class="lnr-chevron-left mr-3" style="font-weight: bold;font-size: 20px;position: absolute;left: 15px;"></i>
  Negocios
</div>

<div class="ml-3 mt-5 page-title-actions text-center" >
  <ul class="header-megamenu nav">
    <li class="nav-item">
      <div class="search-wrapper" [class.active]="isActive" style="display: inline-block;">
        <div class="input-holder">
          <input [(ngModel)]="searchText" name="searchText" type="text" placeholder="¿Qué deseas buscar?" class="search-input">
          <button class="search-icon" (click)="isActive = true"><span></span></button>
        </div>
        <button class="close" (click)="isActive = false"></button>
      </div>
    </li>
    <li class="nav-item">
      <button (click)="nuevoRegistro()" type="button" class="btn-shadow d-inline-flex align-items-center btn btn-success" style="display: inline-block; margin-top: 5px;">

        Crear nuevo
      </button>
    </li>
  </ul>
</div>

<div class="row m-0">
  <div class="pl-3 pr-3 mt-2 col-12" style="font-family:codigeekfont;">
    <div class="col-12 col-sm-4" *ngFor="let registro_t of mainArray$ | filter : searchText : 'nombre'; index as i">
      <div class="card main-card mb-4" >
        <div class="card-header" style="padding: 0px;">
          <div class="position-relative d-flex justify-content-center align-items-center bg-slick-carbon" style="padding: 0px; width: 100%;">
            <div class="negocio-backgroundcover" [ngStyle]=" { 'background-image' : 'url(' + registro_t.banner_image + ')', 'background-position' : 'center', 'background-size' : 'cover', 'background-repeat': 'no-repeat' }">
            </div>
            <div class="slider-content text-light" style="width: 100%;">
              <div class="d-flex" style="padding: 0px 15px;font-family: codigeekfont;">
                <div class="header-btn-md pr-0" style="margin: 0px; padding: 0px;">
                  <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                      <div class="widget-content-left">
                        <div class="btn-group" ngbDropdown placement="bottom-right">
                          <button type="button" class="btn btn-link p-0">
                            <span>
                              <div class="icon-wrapper icon-wrapper-alt rounded-circle">
                                <img *ngIf="!registro_t.foto" width="42" src="./assets/images/avatars/nophoto.png" alt="" class="rounded-circle" style="border: 2px solid white; box-shadow: 0px 0px 10px 0px #acacac;">
                                <img *ngIf="registro_t.foto" width="42" src="{{ registro_t.foto }}" alt="" class="rounded-circle" style="border: 2px solid white; box-shadow: 0px 0px 10px 0px #acacac;">
                              </div>
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="header-btn-md" style="margin: 0px;padding: 0px;display: flex;align-items: center;position: relative;">
                  <h5 style="margin: 0px;font-size: 14px;text-transform: none;font-weight: normal;color: white;">
                    {{ registro_t.nombre }}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="mb-2 mt-2 text-right" style="font-size: 12px;line-height: 1.2;color: black;font-weight: normal;">
            {{ registro_t.categoria ? registro_t.categoria.nombre : "Sin categoría" }}
          </p>
        </div>
        <div class="card-body">
          <p class="mb-2 mt-2" style="font-size: 12px; line-height: 1.2; text-align: justify;">
            {{ registro_t.descripcion }}
          </p>
        </div>
        <div class="d-block text-right card-footer">
          <button (click)="editarRegistro(registro_t)" class="btn btn-success btn-lg" style="background: black; border: none; margin-right: 4px;">
            Gestionar
          </button>
          <button class="mr-2 btn btn-link btn-sm" (click)="triggerStatus(registro_t)">
            {{ registro_t.status === 4 ? "Activar" : "Desactivar" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODALS -->

<ng-template #listadoCategorias let-c="close" let-d="dismiss">
  <div class="modal-header" style="background: none;padding: 10px 15px;font-family:codigeekfont;">
    <h6 class="modal-title" style="color: black; font-weight: 500;">Categoría</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="padding: 10px 15px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 400px; overflow-y: scroll;font-family:codigeekfont;">
    <p style="margin: 8px 0px;cursor:pointer;padding-bottom: 8px;border-bottom: 1px solid #eaeaea;" (click)="c(registro_t)" *ngFor="let registro_t of categoriasArray$; index as i">
      <i class="pe-7s-angle-right"></i>{{ registro_t.nombre }}
    </p>
  </div>
</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" style="background: none;padding: 10px 15px;font-family:codigeekfont;">
    <h6 class="modal-title" style="color: black; font-weight: 500;">Nuevo Negocio</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="padding: 10px 15px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="font-family:codigeekfont;">
    <form style="margin-top: 15px;">
      <div class="mt-4 position-relative form-group" >
        <h5 class="custom-label-cg">
          Nombre
        </h5>
        <input [(ngModel)]="mainObject$.nombre" name="nombre" type="text" class="custom-input-cg-np" required style="font-size: 13px; ">
      </div>
      <div class="col-12 mt-4 mb-3 selector-catalogo" (click)="seleccionarCategoria()">
        <label class="m-0" style="font-size: 14px;color: #7d7d7d;font-weight: bold;position: relative;">
          Categoría
        </label>
        <label class="m-0" style="position: relative;float: right;color: #999;">
          {{ mainObject$.categoria_id ? mainObject$.categoria.nombre : "Selecciona" }}
          <i class="lnr-chevron-down ml-1"></i>
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer" style="background: none;">
    <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Cerrar</button>
    <button type="button" class="btn btn-info" (click)="validateEmpresa()">Guardar</button>
  </div>
</ng-template>

<ng-template #mBorrar let-c="close" let-d="dismiss">
  <div class="modal-header" style="background: none;padding: 10px 15px;">
    <h6 class="modal-title" style="color: black; font-weight: 500;">Borrar registro</h6>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" style="padding: 10px 15px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p style="margin: 5px 0px;">
      ¿Deseas borrar este registro?
    </p>
  </div>
  <div class="modal-footer" style="background: none;">
    <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Cerrar</button>
    <button type="button" class="btn btn-info" (click)="c('Close click')">Aceptar</button>
  </div>
</ng-template>
<!-- MODALS -->
